@import "./node_modules/bootstrap/scss/bootstrap";


.content_wrapper{
	margin-bottom: 100px;
	.content_tit{
		font-size: 24px;
		margin-bottom: 40px;
	}
}

.block {
	background-color: #707bb2;
    height: 240px;
}

.content_block_2_flex{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;

	&_block{
		width: calc(100%/3 - 48px/3);
	}

	@media (max-width: 991px) {
		&_block{
			width: calc(100%/2 - 12px);
		}
	}

	@media (max-width: 767px) {
		&_block{
			width: 100%;
		}
	}
}


.content_block_4_grid{
	display: grid;
	grid-template-areas: 
				"a a b b"
				"c c b b"
				"d d d e";
	grid-gap: 30px;
	grid-template-rows: 150px 150px 100px;

	.content_block_4_grid_block1 {
		grid-area: a;
	}

	.content_block_4_grid_block2 {
		grid-area: b;
	}

	.content_block_4_grid_block3{
		grid-area: c;
	}

	.content_block_4_grid_block4{
		grid-area: d;
	}

	.content_block_4_grid_block5{
		grid-area: e;
	}

	.content_block_4_grid_block1,
	.content_block_4_grid_block2,
	.content_block_4_grid_block3,
	.content_block_4_grid_block4,
	.content_block_4_grid_block5	{
		background-color: #707bb2;
	}
}

.content_block_5_flex{
	padding: 20px;
	background-color: #eceef7;
	display: flex;
	align-items: center;


	&_img{
		border-radius: 100%;
		height: 100px;
		width: 100px;
		margin-right: 50px;
		overflow: hidden;
		flex: none;

	}

	.img{
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: center bottom;
	}

	&_wrapper{
		margin-right: 10px;
	}

	&_btn{
		margin-left: auto;
		flex: none;
	}

	@media (max-width: 767px) {
		flex-direction: column;

		&_wrapper{
			text-align: center;
			margin-right: 0;
		}

		&_img{
			margin-right: 0;
			margin-bottom: 20px;
		}

		&_btn{
			margin-left: 0;
		}
	}
}



.content_block_6_flex{
	display: flex;
	flex-direction: row;
	gap: 20px;


	.card_event4{
		width: calc(50% - 10px);
	}
}

.card_event4{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	flex: 1;


	&_img{
		height: 200px;

	}

	.img{
		object-fit: cover;
		height: 100%;
		width: 100%;
		object-position: center top;
	}

	&_wrapper{
		padding: 10px 20px;
		background-color: #dedede;
		display: flex;
		flex-direction: column;
		flex: 1 1 auto;
	}

	&_text {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		white-space: normal;
		margin-bottom: 20px;
	}

	&_btn{
		margin-top: auto;
		flex: none;
	}
}


.content_block_7{
	.card_event4{
		height: 100%;
	}
}

