@import "./node_modules/bootstrap/scss/bootstrap";


h1 {
	font-size: 37px;
	margin-bottom: 39px;
}

h2 {
	font-size: 30px;
	margin-bottom: 40px;
}

h3{
	font-size: 24px;
}


.block {
	background-color: #707bb2;
    height: 240px;
}

.group__blocks__grid{
	display: grid;
	grid-template-areas: 
				"a a b b"
				"c c b b"
				"d d d e";
	grid-gap: 30px;
	grid-template-rows: 150px 150px 100px;
}


.grid__block__1,
.grid__block__2,
.grid__block__3,
.grid__block__4,
.grid__block__5{
	background-color: #707bb2;
}

.grid__block__1 {
	grid-area: a;
}

.grid__block__2 {
	grid-area: b;
}

.grid__block__3{
	grid-area: c;
}

.grid__block__4{
	grid-area: d;
}

.grid__block__5{
	grid-area: e;
}

.card__title{
	margin-bottom: 20px;
}

.content__block__card{
	padding: 20px;
	background-color: #eceef7;
	height: 200px;
	display: flex;
	align-items: center;
}

.card__logo{
	height: 100px;
	width: 100px;
	margin-right: 50px;
}

.card__info{
	margin-right: auto;
	display: flex;
	flex-direction: column;
}



.flex__wrapper{
	gap: 40px;
	display: flex;
	flex-direction: row;
}

.flex__wrapper__block {
	display: flex;
	flex-direction: column;
	width: calc(50% - 20px);
}

.image__block{
	display: flex;
	height: 200px;
}

.image{
	width: 100%;
	object-fit: cover;
	object-position: center top;
}

.text__wrapper{
	padding: 25px;
	background-color: #dedede;
	height: 250px;
	display: flex;
	flex-direction: column;
}

.block__text{
	overflow: hidden; 
    display: -webkit-box; 
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical; 
    text-overflow: ellipsis; 
    white-space: normal; 

}

.content__button{
	margin-top:auto;
}


