@import "./node_modules/bootstrap/scss/bootstrap";


h1 {
	font-size: 37px;
	margin-bottom: 39px;
}

h2 {
	font-size: 30px;
	margin-bottom: 40px;
}

h3{
	font-size: 24px;
}


.block {
	background-color: #707bb2;
    height: 240px;
}

.three_blocks_flex{
	&_wrapper{
		display: flex;
		flex-wrap: wrap;
		gap: 42px;
	}
	&_block{
		width: calc(100%/3 - 84px/3);
	}

	@media screen and (max-width: 991px) {
		&_block{
			width: calc(100%/2 - 42px/2);
		}
	}

	@media screen and (max-width: 767px) {
		&_block{
			width: 100%;
		}
	}
}

.group_blocks_grid{
	display: grid;
	grid-template-areas: 
				"a a b b"
				"c c b b"
				"d d d e";
	grid-gap: 30px;
	grid-template-rows: 150px 150px 100px;

	.group_blocks_grid_block_1 {
		grid-area: a;
	}

	.group_blocks_grid_block_2 {
		grid-area: b;
	}

	.group_blocks_grid_block_3{
		grid-area: c;
	}

	.group_blocks_grid_block_4{
		grid-area: d;
	}

	.group_blocks_grid_block_5{
		grid-area: e;
	}

	.group_blocks_grid_block_1,
	.group_blocks_grid_block_2,
	.group_blocks_grid_block_3,
	.group_blocks_grid_block_4,
	.group_blocks_grid_block_5{
		background-color: #707bb2;
	}
}

.content_block_1_wrapper{
	padding: 20px;
	background-color: #eceef7;
	display: flex;
	align-items: center;


	&_logo{
		border-radius: 50%;
		height: 100px;
		width: 100px;
		margin-right: 50px;
		overflow: hidden;
	}

	&_logo_image {
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	&_info{
		display: flex;
		flex-direction: column;
	}

	&_button{
		flex: none;
		margin-left: auto;
	}

	@media screen and (max-width: 767px) {
		flex-direction: column;

		&_logo{
			margin-right: 0;
			margin-bottom: 20px;
		}

		&_info{
			margin-bottom: 20px;
		}

		&_button{
			margin-left: 0;
		}
	}
}

.content_block_2_flex{
	display: flex;
	gap: 20px;


	&_block{
		display: flex;
		flex-direction: column;
		width: calc(50% - 10px);
		overflow: hidden;
	}

	&_block_image_block{
		background-position: center bottom;
	}

	&_block_image{
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	&_block_wrapper{
		padding: 10px 20px;
		background-color: #dedede;
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&_block_wrapper_text {
		overflow: hidden;
		display: -webkit-box;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
		text-overflow: ellipsis;
		white-space: normal;
	}

	&_button{
		margin-top: auto;
		flex: none;
	}
}

.bootstrap_container{

	&_block{
		display: flex;
		flex-direction: column;
		overflow: hidden;
		height: 100%;
	}

	&_block_image_block{
		background-position: center bottom;
	}

	&_block_image{
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	&_block_wrapper{
		padding: 10px 20px;
		background-color: #dedede;
		flex: 1;
		display: flex;
		flex-direction: column;
	}

	&_block_wrapper_text {

	}

	&_block_button{
		margin-top: auto;
		flex: none;
	}
}



